<div class="container">
    <a [routerLink]="['/category-new']"><button type="button" class="btn btn-primary mb-3">New category</button></a> 
    <div *ngIf="categories?.length === 0">
      <p>No categories yet... click on new product to add one!</p>
    </div>  
    <table class="table" *ngIf="categories?.length > 0">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngFor="let category of categories">
        <tr>
          <th scope="row">{{category.id}}</th>
          <td>{{category.name}}</td>
          <td>{{category.description}}</td>          
          <td>  
            <a [routerLink]="['/category-edit', category.id]">
              <button class="btn"><i class="fa fa-edit"></i> </button>          
            </a>            
            <button class="btn" (click)="deleteCategory(category.id)"><i class="fa fa-trash-o"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
