<div class="editCategoryFormContainer">
    <form [formGroup]="editCategoryForm" (ngSubmit)="editCategory(category)">
      <h2 class="text-center text-primary">Edit Category</h2>
      <hr>  
  
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text"         
          class="form-control"  
          formControlName="name"         
          [(ngModel)]="category.name">
        <div class="text-danger" *ngIf="editCategoryForm.get('name').touched && editCategoryForm.get('name').hasError('required')">Please write a name</div>
        <div class="text-danger" *ngIf="editCategoryForm.get('name').touched && editCategoryForm.get('name').hasError('maxlength')">Name should be max 50 characters</div>
      </div>
  
      <div class="form-group">
        <label for="description">Description</label>
        <input type="text"         
          class="form-control"  
          formControlName="description"         
          [(ngModel)]="category.description">
        <div class="text-danger" *ngIf="editCategoryForm.get('description').touched && editCategoryForm.get('description').hasError('maxlength')">Description should be max 100 characters</div>
      </div>
      
      <button class="btn btn-success" [disabled]="!editCategoryForm.valid" type="submit">Edit category</button>
  
    </form>
  </div>
  